@font-face {
    font-family: "Montserrat";
    src: url(../assets/fonts/Montserrat\ Regular.ttf);
}

@font-face {
    font-family: "Montserrat";
    src: url(../assets/fonts/MotserratBold.ttf);
    font-weight: 900;
}

@font-face {
    font-family: "Roboto";
    src: url(../assets/fonts/Roboto.ttf);
}

.body {
    margin: 0;
    cursor: default;
}

.header, .main, .footer {
    display: flex;
}

.wrapper {
    width: 940px;
    margin: 0 auto;
}

.mb100 {
    margin-bottom: 94px;
}

.header {
    max-width:1440px;
    height: 700px;
    width: 100%;
    background-image: url(../assets/img/header-bg.png);
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../assets/img/header-bg.png);
}

.header__wrapper {
    margin-top: 38px;
    margin-bottom: 234px;
}

.main__wrapper {
    margin-top: 93px;
    margin-bottom: 100px;
}

.footer__wrapper {
    margin-top: 37px;
    display: flex;
    justify-content: space-between;
}


.ideas {
    padding-top: 7px;
}


.how-it-works__content {
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
}

.step {
    width: 300px;
    height: 400px;
    display: flex;
    align-items: flex-end;
}



.logo {
    font-size: 20px;
    /* line-height: 1.2; */
    text-align: center;
    font-family: "Montserrat";
    font-weight: 900;
    letter-spacing: 0.6px;
}

.header__logo {
    color: white;
    margin-top: 7px;

}

.header__nav-bar {
    display: flex;
    justify-content: space-between;

}

.log-in {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    /* line-height: 1.2; */
}

.btn {
    height: 36px;
    border-radius: 25px;
    border: solid 2px white;
    font-weight: bold;
    font-size: 14px;
    font-family: "Montserrat";
    cursor: pointer;

}

.btn-sing-up {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    width: 90px;
      
}

.auth {
    display: flex;
    align-items: center;
}

.auth__log-in {
    margin: 0 20px;
    text-align: center;

}

.header__h1 {
    font-size: 52px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    /* line-height: 1.2; */
    text-align: center;
    margin: 0;
}

.header__p {
    font-size: 24px;
    color: rgb(255, 255, 255);
    margin: 28px 0;
}

.p {
    font-family: "Roboto";
    /* line-height: 1.2; */
    text-align: center;
}

.header__title {
    margin: 138px 220px 0;
    display: flow-root;
    text-align: center;
}

.partner__content {
    text-align: center;
}

.header__btn {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 78, 80);
    height: 40px;
    width: 225px;
    margin-top: 5px;
    border-color: rgb(255, 78, 80);
}

.section__title {
    font-size: 22px;
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
    font-weight: bold;
    /* line-height: 1.2; */
    text-align: center;    
    margin: 0;  
}

.step1 {
    background-image: url(../assets/img/Rectangle\ 4.png);
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../assets/img/Rectangle\ 4.png);

    
}

.step2 {
    background-image: url(../assets/img/step2.png);
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../assets/img/step2.png);

}

.step3 {
    background-image: url(../assets/img/step3.png);
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../assets/img/step3.png);

}

.step__btn {
    font-size: 10px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    background-color: rgb(255, 78, 80);
    border-color: rgb(255, 78, 80);
    width: 70px;
    height: 20px;
    font-weight: normal;
    margin: 0 0px 2px 4px;
    letter-spacing: 2px;
}

.pd20{
    padding: 18px;
}

.step__title {
    font-size: 24px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: left; 
    margin: 12px 0;     
}

.step__p {
    font-size: 14px;
    color: rgb(204, 204, 204);
    margin: 0;
    text-align: left;      
}

.member__name {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
    font-weight: bold;
    /* line-height: 1.2; */
    text-align: center;
    margin-bottom: 14px;

  }

  .member__p {
    font-size: 14px;
    color: rgb(102, 102, 102);
    margin: 0;
  }

.member {
    width: 216px;
}

.partner__members {
    display: flex;
    justify-content: space-between;
    margin: 34px 0 38px 0;

}
  .member__avatar {
    width: 120px;
    height: 120px;
    position: relative;
    margin: 0 auto;

  }

  .cover-logo {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    border: 4px solid white;
    padding: 0px;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -5px;
    right: -4px;
  }

  .logo__red {
    background-color: rgb(255, 78, 80);
  }

  .logo__blue {
    background-color: #4e73db;
}

.logo__yellow {
    background-color: #ff9900;
}

.logo__green {
    background-color: #1cd7ad;
    
}

.member__logo {
    border-radius: 16%;
    width: 16px;
    height: 16px;
    padding: 3px;
}

.partner__btn {
    color:rgb(255, 78, 80);
    border-color: rgb(255, 78, 80);
    background-color: rgb(255, 255, 255);
    width: 192px;
    height: 40px;
}

.delimiter {
    height: 4px;
    width: 100%;
    max-width:1440px;
    background-color: rgb(255, 78, 80);
}

.footer__logo {
    color: rgb(255, 78, 80);
    font-size: 16px;
    flex: 20%;
    text-align: left;
}

.promo__h4 {
    font-size: 10px;
    font-family: "Montserrat";
    color: rgb(204, 204, 204);
    font-weight: bold;
    text-transform: uppercase;
    text-align: end;
    margin: 0 0 9px 0;
}

.promo {
    flex: 40%;
    text-align: end;
}

.menu__link {
    text-decoration: none;
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(102, 102, 102);
    line-height: 1.714;
    text-align: left;
}

.nav__menu {
    list-style-type: none;
    padding-left: 0 !important;
    text-align: start;
}

.footer__nav{
    width: 540px;
    display: flex;
    justify-content: space-around;
}

.search-partners__btn {
    background-color: rgb(255, 78, 80);
    width: 164px;
    height: 44px;
    color: white;
}


.search-partners__p  {
    font-size: 18px;
    color: rgb(51, 51, 51);
    margin: 35px 0;
  }

.search-partners__input {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(204, 204, 204);
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 0px 0px rgba(238, 238, 238, 0.004);
    width: 210px;
    height: 22px;
    padding: 8px 13px;
    margin-right: 5px;
}

.search-partners__form {
    text-align: center;
}

.elem {
    display: flex;
    align-items: center;
}


.elem__grid1, .elem__grid2, .elem__grid3, .elem__grid4, .elem__grid7 {
    width: 300px;
    height: 310px;
}

.elem__grid5, .elem__grid6 {
    height: 310px;
    width: 620px;
}

.elem__grid1 {
    background-image: url(../assets/img/elem1.png);
}
.elem__grid2 {
    background-image: url(../assets/img/elem2.png);
    margin: 0 20px 20px 0px;

}
.elem__grid3 {
    background-image: url(../assets/img/elem3.png);

}
.elem__grid4 {
    background-image: url(../assets/img/elem4.png);
    margin: 0px 20px 20px 0;


}

.elem__grid5 {
    background-image: url(../assets/img/elem5.png);
    grid-column-end: 4;
    grid-column-start: 2;
    }

.elem__grid6 {
    background-image: url(../assets/img/elem6.png);
    grid-column-start: 1;
    grid-column-end: 3;

}

.elem__grid7 {
    background-image: url(../assets/img/elem7.png);

}

.ideas__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 36px;
}

.section__title__grid {
    color: white;
    margin: auto;
}






@media screen and (max-width: 768px) {
    .wrapper {
        width: 748px;
    }

    .header__wrapper {
        margin: 38px 49px 0;
    }

    .header__title {
        margin: 138px 60px 0;
    }

    .step {
        width: 236px;
    }

    .partner__members {
        flex-wrap: wrap;
        margin: 34px 138px 0px;
    }

    .member {
        margin-bottom: 57px;
    }

    .member__tablet {
        margin-bottom: 38px;

    }

    .elem__grid1, .elem__grid2, .elem__grid3, .elem__grid4, .elem__grid7 {
        width: 236px;
    }

    .elem__grid5, .elem__grid6 {
        width: 492px;
    }

    .ideas {
        padding: 0;
    }

    .footer__wrapper {
        margin: 33px 39px 0;
    }

    .footer__nav {
        justify-content: space-evenly;
        flex: 30%;
        width: auto;
    }

    .promo {
        flex: 0;
    }

    .footer__logo {
        flex: 0;
    }






}
 
  

  
  







  
  